.mat-mdc-card {
  margin: auto;
  width: 400px;
}

.mat-mdc-card-title {
  margin: 10px;
}

.mat-mdc-card-subtitle {
  margin: 10px;
}

.mat-mdc-progress-spinner {
  margin: auto;
  height: 50vh !important;
}
