<mat-card class="mt-4">
  <ng-container *ngIf="contact">
    <mat-card-header>
      <mat-card-title>{{contact.firstName}} {{contact.lastName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>Phone: {{contact.phone}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions align="end" class="cursor-pointer mx-2 my-2">
        <button
          mat-flat-button
          routerLink="/messages/compose/{{contact.id}}"
          color="primary"
        >
          Send Message
        </button>
      </mat-card-actions>
    </mat-card-footer>

  </ng-container>
  <ng-container *ngIf="loading">
    <mat-spinner strokeWidth="2" diameter="50"></mat-spinner>
  </ng-container>
</mat-card>
