.cursor-pointer {
  cursor: pointer;
}

.mat-mdc-progress-spinner {
  margin: auto;
  height: 50vh !important;
}

.mat-mdc-card {
  margin: auto;
  width: 400px;
}

.mat-mdc-card-title {
  margin: 10px;
}

.mat-mdc-card-subtitle {
  padding: 0 10px 10px 10px;
}
